@import '../base/variables';
@import '../base/mixins';

.footer {
  background-color: transparent;
  color: $color-text-primary;
  position: relative;
  z-index: 10;
  padding: $spacing-lg 0;

  &__container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 $spacing-sm;

    @include desktop {
      padding: 0 $spacing-lg;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    align-items: center;
    text-align: center;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 3rem;
  }

  &__copyright {
    color: $color-text-primary;
    @include typography-body;
  }
}
