@import '../base/variables';
@import '../base/mixins';

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  z-index: 100;

  &__container {
    @include glass-effect;
    border-radius: 50%;
    padding: $spacing-3xl $spacing-3xl;
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: $spacing-md;

    @include desktop {
      width: 16rem;
      height: 16rem;
      padding-bottom: $spacing-lg;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    height: 2rem;

    @include desktop {
      height: 2.5rem;
    }
  }
}
